<h1>Jobs List</h1>
<h3>Add a new job:</h3>
<form action="/jobs" method="post">
  <label for="companyName">Company Name</label>
  <input id="companyName" type="text" name="companyName">
  <label for="jobTitle">Job Title</label>
  <input id="jobTitle" type="text" name="jobTitle">
  <label for="jobStart">Job Start</label>
  <input id="jobStart" type="text" name="jobStart">
  <label for="jobEnd">Job End</label>
  <input id="jobEnd" type="text" name="jobEnd">
  <label for="jobDescription">Job Description</label>
  <input id="jobDescription" type="text" name="jobDescription">
  <button type="submit">Add job</button>
</form>
